<!-- registration/login.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión!!!</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Nombre de usuario:</label>
            <input type="text" name="username" id="id_username" required>
        </div>
        <div>
            <label for="id_password">Contraseña:</label>
            <input type="password" name="password" id="id_password" required>
        </div>
        <button type="submit">Iniciar Sesión</button>
    </form>
    {% if next %}
        <p>Serás redirigido a <strong>{{ next }}</strong> después de iniciar sesión.</p>
    {% endif %}
</body>
</html>
