{% extends "base.html" %}
{% load static %}
{% block title %}Menú - La Casera{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row contiene-card">
        {% for producto in productos %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
                {% if producto.imagen and producto.imagen.url %}
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid card-img-top">
                {% else %}
                <div class="alert alert-warning" role="alert">
                    No hay imagen disponible para este producto.
                </div>
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p><strong>Precio:</strong> ${{ producto.precio }}</p>
                    <form method="post" action="{% url 'agregar_al_carrito' producto.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="producto_id" value="{{ producto.id }}">
                        <button type="submit" class="btn btn-primary mt-auto">Agregar al carrito</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
