/* General Body Styles */
body {
    background-color: #2e0808; 
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff; /* Texto blanco para contraste */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el body ocupe al menos toda la pantalla */
}

/* Header Styles */
header {
    margin: 0; /* Eliminado margen superior */
    padding: 10px 20px;
    text-align: center;
    background-color: #2e0808; /* Fondo oscuro */
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: center; /* Centra el menú horizontalmente */
    padding: 10px 0;
    box-shadow: 3px 4px 3px 4px rgba(202, 5, 5, 0.3); /* Sombra sutil */
    background-color:transparent ;
}
nav button{
    margin: 5px;
    background-color: rgb(238, 236, 206);
}
/* Menu List Styles */
ul.menu {
    list-style-type: none; /* Quita los puntos de las listas */
    margin: 0;
    padding: 0;
    display: flex; /* Alinea los ítems en fila */
}

/* Menu Items Styles */
ul.menu li {
    margin-right: 20px; /* Espaciado entre ítems */
}

ul.menu li:last-child {
    margin-right: 0; /* Quita margen del último ítem */
}

/* Link Styles */
ul.menu li a {
    text-decoration: none; /* Quita subrayado */
    color: rgb(160, 155, 140); /* Texto blanco */
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px;
    background-color: #7c2828; /* Fondo predeterminado */
}

ul.menu li a:hover {
    background-color: #6e0e0e; /* Fondo al pasar el mouse */
    border-radius: 20px;
}

li.msjhome {
background-color: transparent;
color: rgb(184, 56, 184);
}

/* Container to grow and push footer down */
.container {
    flex-grow: 1; /* Hace que el contenido crezca y empuje el footer hacia abajo */
}

/* Footer Styles */
footer {
    background-color: #7c2828; /* Color de fondo del footer */
    color: #e9e3e3;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    /* Ajustes para pantallas pequeñas */
    ul.menu {
        flex-direction: column; /* Menú en columna */
        align-items: center;
    }
    
    ul.menu li {
        margin: 10px 0; /* Espaciado entre ítems en columna */
    }

    nav {
        padding: 20px 0; /* Aumenta padding en móviles */
    }
}
