{% extends 'base.html' %}

{% block content %}
<h1>{{ producto.nombre }}</h1>
<p>{{ producto.descripcion }}</p>
<p><strong>Precio:</strong> ${{ producto.precio }}</p>
<p><strong>Precio por docena:</strong> ${{ producto.precio_docena }}</p>
<p><strong>Precio por media docena:</strong> ${{ producto.precio_media_docena }}</p>
<p><strong>Precio por unidad:</strong> ${{ producto.precio_unidad }}</p>

{% if producto.es_empanada %}
    <!-- Formulario para productos con variedades -->
    <form method="POST" action="{% url 'carritodecompras:agregar_al_carrito' producto.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Agregar al carrito</button>
    </form>
{% else %}
    <!-- Formulario para productos sin variedades -->
    <form method="post" action="{% url 'productos:agregar_al_carrito' producto.id %}">
        {% csrf_token %}
        {% if producto.es_empanada %}
            <!-- Formulario para empanadas -->
            {{ form.as_p }}
        {% else %}
            <div class="form-group">
                <label for="cantidad_total"><strong>Cantidad:</strong></label>
                <input type="number" id="cantidad_total" name="cantidad_total" min="1" value="1" class="form-control">
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3">Agregar al carrito</button>
    </form>    
{% endif %}

<a href="{% url 'productos:menu' %}" class="btn btn-secondary mt-3">Continuar Comprando</a>
{% endblock %}
