{% extends 'base.html' %}

{% block content %}
<h1>{{ producto.nombre }}</h1>
<p>{{ producto.descripcion }}</p>
<p>Precio por docena: ${{ producto.precio_docena }}</p>
<p>Precio por media docena: ${{ producto.precio_media_docena }}</p>
<p>Precio por unidad: ${{ producto.precio_unidad }}</p>

<form method="post" action="{% url 'agregar_al_carrito' producto.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
</form>

<a href="{% url 'menu' %}" class="btn btn-secondary mt-3">Continuar Comprando</a>
{% endblock %}
