{% extends 'base.html' %}

{% block title %}Carrito{% endblock %}

{% block content %}
<header>
    <h1>Tu Carrito</h1>
    <div>
        <p>Total de productos en el carrito: {{ total_items }}</p>
        <p>Precio total: ${{ total_precio }}</p>
    </div>
    
</header>
<section>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrito %}
            <tr>
                <td>{{ item.producto.nombre }}</td>
                <td>${{ item.producto.precio }}</td>
                <td>{{ item.cantidad }}</td>
                <td>${{ item.total }}</td>
                <td>
                    <a href="{% url 'eliminar_del_carrito' item.producto.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total: ${{ total_carrito }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-primary">Proceder al Pago</a>
</section>
{% endblock %}
