<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}La Casera{% endblock %}</title>
   
</head>
<body>
    <!-- Contenido de la página -->
    <div class="container">
        {% block content %}
        <nav>
            <li><a href="{% url 'index' %}"></a></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </nav>
        {% endblock %}
    </div>

   
    {% block extra_js %}
    {% endblock %}
</body>
</html>

