{% extends 'base.html' %}

{% block title %}Pagar con Stripe{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Pagar con Stripe</h1>
    <!-- Implementación del formulario de Stripe -->
    <form action="/crear_pago_stripe/" method="POST">
        {% csrf_token %}
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_public_key }}"
            data-amount="{{ total_precio|floatformat:2|multiply:100 }}"
            data-name="La Casera"
            data-description="Pago de {{ total_items }} artículos"
            data-currency="usd"
            data-locale="auto">
        </script>
    </form>
</div>
{% endblock %}
