{% extends 'base.html' %}

{% block title %}Carrito de Compras{% endblock %}

{% block content %}
{% load custom_filters %}
<div class="container mt-5">
    <!-- Mostrar mensajes de Django -->
    {% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <h1>Carrito de Compras</h1>
    {% if total_items > 0 %}
    <!-- Tabla de productos -->
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Producto</th>
                <th>Variedad</th> <!-- Nueva columna para la variedad -->
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for linea in lineas %}
            <tr>
                <td>
                    {% if linea.producto %}
                    {{ linea.producto.nombre }}
                    {% else %}
                    Producto eliminado
                    {% endif %}
                </td>
                <td>
                    {% if linea.variedad %}
                    {{ linea.variedad.nombre_variedad }}
                    {% else %}
                    Variedad no especificada
                    {% endif %}
                </td>
                <td>
                    <!-- Incrementar y Disminuir cantidad -->
                    <form method="POST" action="{% url 'disminuir_cantidad_producto' linea.producto.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary btn-sm">-</button>
                    </form>
                    {{ linea.cantidad }}
                    <form method="POST" action="{% url 'incrementar_cantidad_producto' linea.producto.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary btn-sm">+</button>
                    </form>
                </td>
                <td>
                    {% if linea.producto %}
                    ${{ linea.variedad.precio_unidad }}
                    {% else %}
                    $0
                    {% endif %}
                </td>
                <td>
                    {% if linea.producto %}
                    ${{ linea.get_subtotal }}
                    {% else %}
                    $0
                    {% endif %}
                </td>
                <td>
                    {% if linea.producto %}
                    <form method="POST" action="{% url 'eliminar_producto' linea.producto.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Totales -->
    <div class="totales">
        <h4>Total de artículos: {{ total_items }}</h4>
        <h4>Total a pagar: ${{ total_precio }}</h4>
    </div>

    <!-- Botones de pago -->
    <div class="botones-de-pago d-flex justify-content-between flex-wrap">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actualizarContactoPedidoModal">Actualizar Contacto</button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#paymentModal">Confirmar Pedido</button>
    </div>

    <!-- Modal de Actualización de Contacto -->
    <div id="actualizarContactoPedidoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="actualizarContactoPedidoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="actualizarContactoPedidoModalLabel">Actualiza tu Información de Contacto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'actualizar_contacto_pedido' pedido.id %}" id="contactoPedidoForm">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar y proceder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación de Pago -->
    <div id="paymentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentModalLabel">Confirma tu Pedido</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas confirmar el pedido y proceder con el pago?</p>
                    <form method="post" action="{% url 'confirmar_pago' %}">
                        {% csrf_token %}
                        <input type="hidden" name="direccion" value="{{ form.direccion.value }}">
                        <input type="hidden" name="telefono" value="{{ form.telefono.value }}">
                        <button type="submit" class="btn btn-success">Confirmar Pedido</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <p>El carrito está vacío. <a href="{% url 'menu' %}">Continuar Comprando</a></p>
    {% endif %}
    <a href="{% url 'menu' %}" class="btn btn-secondary mt-3">Continuar Comprando</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const contactoPedidoForm = document.getElementById('contactoPedidoForm');
        contactoPedidoForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(contactoPedidoForm);
            fetch(contactoPedidoForm.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(data => {
                if (data.success) {
                    alert('Información de contacto para el pedido actualizada con éxito.');
                    window.location.reload();
                } else {
                    console.error('Form errors:', data.errors);
                    alert('Hubo un error al actualizar la información de contacto. Inténtalo de nuevo.');
                }
            })
            .catch((error) => {
                console.error('There was a problem with the fetch operation:', error);
                alert('Hubo un error al actualizar la información de contacto. Inténtalo de nuevo.');
            });
        });
    });
</script>
{% endblock %}
